/* MAIN SECTION */

.doorCombo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.doorOpened {
    margin-left: 60px;
    
    height: 70vh;
    width: 35vh;
    background-color: black;
    border-top: 20px rgb(189, 180, 59) solid;
    border-left: 20px rgb(189, 180, 59) solid;
    border-right: 20px rgb(189, 180, 59) solid;
}

.doorClosed {
    margin-left: 60px;
    /* margin-bottom: -10px; */
    height: 70vh;
    width: 35vh;
    background-image: url(../img/door.png);
    background-size: contain;
    border-top: 20px rgb(189, 180, 59) solid;
    border-left: 20px rgb(189, 180, 59) solid;
    border-right: 20px rgb(189, 180, 59) solid;
    z-index: 8;


}


.wcLight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}


.lightOn {
height: 70vh;
width: 35vh;
background-color: white;
background-size: contain;
display:block;
position: relative;
margin-left: 0px;
z-index: 5;

}

.lightOnImg { 
display:flex;
position: relative;
padding-top: 50px;
z-index: 5;
height: 38vh;

}


.lightOff, .lightOffImg  {
display: none;
}


/* IMAGES */
.merkel {
    height: 70vh;
    margin-left: -11vw;
    margin-bottom: -5vh;
  }
  
  .wc {
    height: 10vh;
    margin-left: 20px;
  }
  
  #lightButton {
    width: 5vh;
    height: 5vh;
    margin-left: 20px;
    margin-bottom: 30vh;
  
    
  }
  