/* RESET */

html,
body {
  height: 100vh;
  margin: 0;
  /* text-align: center; */
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  background-image: url("./img/wallPaper.jpg");
}

/* RESET END */

/* NAVBAR */
.navBar {
}

.navBar ul {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.navBar ul li {
  list-style-type: none;
  color: black;
  /* background-color: goldenrod; */
  margin: 20px;
  border-radius: 40%;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: lowercase;
  width: 12vw;
  text-align: center;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
  /* color: rgb(219,37,51); */
  text-shadow:
    #fff 0px 0px 5px,
    #fff 0px 0px 10px,
    #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px,
    #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px,
    #ff2d95 0px 0px 75px,
    2px 2px 2px rgba(206, 89, 55, 0);
  transition: all 0.5s ease-in-out;
}

.navBar ul li a:hover {
  color: #ffffff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #49ff18,
    0 0 30px #49ff18,
    0 0 40px #49ff18,
    0 0 55px #49ff18,
    0 0 75px #49ff18;
}

.navBar ul li a:active {
  color: #49ff18;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #49ff18,
    0 0 30px #49ff18,
    0 0 40px #49ff18,
    0 0 55px #49ff18,
    0 0 75px #49ff18;
}

/* MAIN SECTION */

.floor {
  height: 16%;
  width: 100%;
  font-size: 0.1px;
  z-index: 4;
  background-image: url("./img/floor.png");
  background-repeat: repeat;
  background-size: cover;
  -webkit-box-shadow:
    5px 5px 5px 0px #000000,
    inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow:
    5px 5px 5px 0px #000000,
    inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
