html,
body {
  height: 100vh;
  margin: 0;
  /* text-align: center; */
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  background-image: url("./img/wallPaper.jpg");
}

.body {
  /* margin-top: -50px;  */
  padding-top: 0p ;
  

  /* css BG template: https://bennettfeely.com/ */
   /* background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 25%,
    tomato 0,
    tomato 50%
  ),
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25%,
    dodgerblue 0,
    dodgerblue 50%
  ),
  wheat;

background-size: 10em 10em;
background-blend-mode: multiply; */
/* css BG template: https://bennettfeely.com/ */
}

.doorCombo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor {
  height: 15vh;
  background-color: beige;
  font-size: 1px;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.room {
  padding: 30px;
}

.lit {
  background-color: white;
  color: black;
  height: 100vh;
}

.dark {
  color: white;
  height: 100vh;
}

/* IMAGES */
.merkel {
  height: 70vh;
  margin-left: -11vw;
  margin-bottom: -5vh;
}

.door {
  margin-left: 60px;
  margin-bottom: -10px;
  height: 70vh;
  width: 35vh;
}

.openDoorDark {
  margin-left: 60px;
  height: 70vh;
  width: 35vh;
  background-color: black;
}

.wc {
  margin: 3vh;
  height: 10vh;
}

.lightButton {
  height: 5vh;
  margin-left: 20px;
  align-items: center;
}
